.vs
cmake-build-debug
out
.idea
.code
kuo.exe
examples/kuo.exe
.project
.classpath
.c9
*.launch
.settings/
*.sublime-workspace
.vscode/
*.code-workspace
*~
~*
.sesskey
tmp*
*.db
*.swp
*.swo
*.swn
.env